<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FoodShareAI Test Suite">
    <listeners>
        <listener class-name="com.foodshareai.listeners.TestListener"/>
        <listener class-name="com.foodshareai.listeners.AnnotationTransformer"/>
    </listeners>
    <test name="Authentication Tests">
        <classes>
            <class name="com.foodshareai.authentication.LoginTest"/>
        </classes>
    </test>
    <test name="Donor Tests">
        <classes>
            <class name="com.foodshareai.donor.DonorWorkflowTest"/>
        </classes>
    </test>
</suite>
